body {
    margin: 0px;
    padding: 0px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(233, 47%, 7%);
}

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend+Deca:wght@100..900&family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend+Deca:wght@100..900&family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
    border-radius: 10px;
}

.container-2 {
    background-image: linear-gradient(hsla(277, 93%, 30%, 0.57)), url(images/image-header-desktop.jpg);
    width: 540px;
    height: 446px;
}

.container-text {
    width: 540px;
    height: 446px;
    background-color: hsl(244, 37%, 16%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-text h1,
p {
    width: 400px;
}

.container-text h1 {
    font-family: "Lexend Deca", sans-serif;
    font-weight: 700;
    font-size: 2.2em;
    color: white;
    margin: 0px;
    margin-top: 60px;
}

.container-text p {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 17px;
    color: hsla(0, 0%, 100%, 0.6);
    line-height: 25px;
    margin-top: 20px;
}

.box-text {
    height: 100%;
    width: 400px;
    display: flex;
    flex-direction: column;
}

.itens-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 400px;
    margin-top: 80px;
}

.itens-mini {
    width: 100px;
}

.itens-mini>h2 {
    margin: 0%;
    font-family: "Lexend Deca", sans-serif;
    color: white;
     letter-spacing: 1px;
}

.itens-mini>p {
    margin: 0%;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
}